/* --------------------------------------------------------
         Switch Button 
    -----------------------------------------------------------*/
.b-switch {
    position: relative;
    display: inline-block;
    width: 3.5rem;
    height: 1.7rem;
}

    .b-switch input {
        display: none;
    }

    .b-switch .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #969696;
        border-radius: 5rem;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

        .b-switch .slider:before,
        .b-switch .slider:after {
            position: absolute;
            content: "";
            height: 1.6rem;
            width: 1.6rem;
            border-radius: 50%;
            left: 0.1rem;
            bottom: 0.1rem;
            -webkit-transition: 0.4s;
            transition: 0.4s;
        }

        .b-switch .slider:before {
            background: #dbeafe;
            box-shadow: 0.2rem 0 0.4rem 0.1rem hsl(18deg 77% 15% / 5%), 0 0.8rem 0.7rem 0.1rem hsl(18deg 77% 15% / 20%), -0.1rem 0 0.3rem 0.1rem hsl(0deg 0% 0% / 36%);
        }

        .b-switch .slider:after {
            background: transparent;
            box-shadow: inset 0px 3px 8px 4px hsl(0deg 0% 0% / 10%);
        }

    .b-switch input:checked + .slider {
        background: #0896fc;
    }

        .b-switch input:checked + .slider:before {
            -webkit-transform: translateX(2rem);
            -moz-transform: translateX(2rem);
            transform: translateX(2rem);
        }

        .b-switch input:checked + .slider:after {
            -webkit-transform: translateX(1.9rem);
            -moz-transform: translateX(1.9rem);
            transform: translateX(1.9rem);
        }

    .b-switch.switch-sm {
        width: 2.2rem;
        height: 1.11rem;
    }

        .b-switch.switch-sm .slider:before,
        .b-switch.switch-sm .slider:after {
            height: 1.1rem;
            width: 1.1rem;
            bottom: 0;
        }

        .b-switch.switch-sm input:checked + .slider:before {
            -webkit-transform: translateX(1rem);
            -moz-transform: translateX(1rem);
            transform: translateX(1rem);
        }

        .b-switch.switch-sm input:checked + .slider:after {
            -webkit-transform: translateX(1rem);
            -moz-transform: translateX(1rem);
            transform: translateX(1rem);
        }
