<b-right-widget ng-if="$.workingMode=='edit-column'" data-title="Edit Column" data-icon="notebook-template" data-subtitle="Add or edit grid column" data-await-action="$.awaitAction">
    <div class="d-flex">
        <!------------------------------------>
        <!-- Left Fields -->
        <!------------------------------------>
        <div class="col-7 b-splitter border-end pe-3">
            <div class="b-field">
                <label class="form-label">Column Title</label>
                <div class="b-input-group">
                    <input type="text" class="b-input form-control" ng-model="$.column.Title" placeholder="Enter column title" autocomplete="off" required />
                    <span><i class="codicon codicon-gear"></i></span>
                </div>
            </div>
            <div class="b-field">
                <label class="form-label">Column Type</label>
                <div class="b-input-group">
                    <select ng-model="$.column.ColumnType" class="b-input form-select" chosen placeholder-text-single="'Select column Type'" required>
                        <option value="BindToProperty">Bind To Property</option>
                        <!-- <option value="ConditionalContents">Conditional Contents</option> -->
                    </select>
                    <span><i class="codicon codicon-activate-breakpoints"></i></span>
                </div>
            </div>
            <!------------------------------------>
            <!-- Bind To Property -->
            <!------------------------------------>
            <div ng-if="$.column.ColumnType=='BindToProperty'">
                <div class="b-field">
                    <label class="form-label">Data Type</label>
                    <div class="b-input-group">
                        <select ng-model="$.column.DataType" class="b-input form-select" chosen placeholder-text-single="'Select column Type'" required>
                            <option value="String">String</option>
                            <option value="Number">Number</option>
                            <option value="DateTime">Date Time</option>
                            <option value="Time">Time</option>
                        </select>
                        <span><i class="codicon codicon-activate-breakpoints"></i></span>
                    </div>
                </div>
                <!------------------------------------>
                <!-- Number -->
                <!------------------------------------>
                <!-- <div ng-if="$.column.DataType=='Number'">
                    <div class="b-field">
                        <label class="form-label d-block">Show Commas Separator</label>
                        <label class="b-switch d-block">
                            <input type="checkbox" ng-model="$.column.ShowCommasSeparator">
                            <span class="slider"></span>
                        </label>
                    </div>
                </div> -->
                <!------------------------------------>
                <!-- Date Time -->
                <!------------------------------------>
                <div ng-if="$.column.DataType=='DateTime'">
                    <div class="b-field">
                        <label class="form-label">Date Time Format</label>
                        <div class="b-input-group">
                            <input type="text" class="b-input form-control" ng-model="$.column.DateTimeFormat" placeholder="default MM/DD/YYYY" autocomplete="off" required />
                            <span><i class="codicon codicon-calendar"></i></span>
                        </div>
                    </div>
                </div>

                <div class="b-field">
                    <label class="form-label">Property</label>
                    <div monaco-editor id="txtProperty" ng-model="$.column.Content" data-language="bProperties" data-one-line="true" required></div>
                </div>
            </div>
        </div>
        <!------------------------------------>
        <!-- Right Fields -->
        <!------------------------------------>
        <div class="col-5 ps-3">
            <div class="b-field">
                <label class="form-label">View Order</label>
                <div class="b-input-group">
                    <input type="number" class="b-input form-control" ng-model="$.column.ViewOrder" placeholder="Enter column view order" autocomplete="off" />
                    <span><i class="codicon codicon-list-ordered"></i></span>
                </div>
            </div>
            <div class="b-field">
                <label class="form-label">Border Color</label>
                <div class="b-input-group">
                    <input type="color" class="b-input form-control" ng-model="$.column.BorderColor" placeholder="Enter border color"  />
                    <span><i class="codicon codicon-symbol-color"></i></span>
                </div>
            </div>
            <div class="b-field">
                <label class="form-label">Background Color</label>
                <div class="b-input-group">
                    <input type="color" class="b-input form-control" ng-model="$.column.BackgroundColor" placeholder="Enter background color"  />
                    <span><i class="codicon codicon-symbol-color"></i></span>
                </div>
            </div>
            
        </div>
    </div>

    <hr class="mb-4" />
    <div class="mb-1 d-flex justify-content-end mt-auto">
        <button type="button" class="b-btn btn-submit me-2" ng-click="$.onSaveColumnClick()">
            <i class="codicon codicon-save"></i>
            Save Column
        </button>
        <button type="button" class="b-btn btn-cancel" ng-click="$.onCancelColumnClick()">
            <i class="codicon codicon-circle-slash"></i>
            Cancel
        </button>
    </div>
</b-right-widget>



