<div ng-repeat="message in $.field.Settings.Messages" role="button" ng-click="$.onEditMessageClick(message,$index)">
    <div class="b-notify notify-warning mb-3">
        <div class="text">
            <span class="subtext">
                {{message.Title}}
                <br>
                <span ng-if="message.ShowConditions.length" class="small">
                    {{message.ShowConditions.length}} Conditions
                </span>
            </span>
        </div>
    </div>
</div>
<div class="b-field">
    <button type="button" class="b-btn btn-action" ng-click="$.onAddMessageClick()">
        <i class="codicon codicon-plus"></i>
        Add Message
    </button>
</div>

<!------------------------------------>
<!-- Message Box Edit Widget-->
<!------------------------------------>
<b-right-widget ng-if="$.workingMode=='edit-message'" data-title="Edit Message" data-icon="notebook-template"
    data-subtitle="Add or edit message item" data-await-action="$.awaitAction">
    <div class="b-field">
        <label class="form-label">Title</label>
        <div class="b-input-group">
            <input type="text" class="b-input form-control" ng-model="$.message.Title" placeholder="Enter message title"
                autocomplete="off" required />
            <span><i class="codicon codicon-gear"></i></span>
        </div>
    </div>
    <div class="b-field">
        <label class="form-label">Message Content</label>
        <div monaco-editor ng-model="$.message.Content" data-language="html" data-height="150px" required>
        </div>
    </div>
    <div class="b-field">
        <label class="form-label">Show Conditions</label>
        <b-condition-list ng-model="$.message.ShowConditions" data-source="['fields','form','variables','actionParams']"
            data-variables="variables" data-fields="fields" data-action-params="$.action.Params"></b-condition-list>
    </div>
    <hr class="mb-4" />
    <div class="mb-1 d-flex justify-content-end mt-auto">
        <button type="button" class="b-btn btn-submit me-2" ng-click="$.onSaveMessageClick()">
            Save Message
        </button>
        <button type="button" class="b-btn btn-cancel" ng-click="$.onCancelEditMessageClick()">
            <i class="codicon codicon-circle-slash"></i>
            Cancel
        </button>
    </div>
</b-right-widget>