<div class="b-field">
    <label class="form-label">Upload Label</label>
    <input type="text" ng-model="$.currentField.Settings.UploadLabel" class="b-input form-control" placeholder="Upload Label" />
</div>
<div class="mb-3 m-b-10">
    <label class="form-label">Allow Upload Multiple File</label>
    <label class="b-switch d-block">
        <input type="checkbox" hidden="hidden" ng-model="$.currentField.Settings.AllowUploadMultipleFile" />
        <div class="slider"></div>
    </label>
</div>
<div class="b-field" ng-if="$.currentField.Settings.AllowUploadMultipleFile">
    <label class="form-label">Max File Count</label>
    <input type="text" ng-model="$.currentField.Settings.MaxFileCount" class="b-input form-control" placeholder="Max File Count" />
</div>
<div class="b-field">
    <label class="form-label">Max File Length(KB)</label>
    <input type="text" ng-model="$.currentField.Settings.MaxFileLength" class="b-input form-control" placeholder="Max File Length" />
</div>
<div class="mb-3 m-b-10">
    <label class="form-label">Resize Large Images</label>
    <label class="b-switch d-block">
        <input type="checkbox" hidden="hidden" ng-model="$.currentField.Settings.ResizeLargeImage" />
        <div class="slider"></div>
    </label>
</div>
<div class="b-field" ng-if="$.currentField.Settings.ResizeLargeImage">
    <label class="form-label">Resize Width</label>
    <input type="text" ng-model="$.currentField.Settings.LargeImageWidth" class="b-input form-control" placeholder="Width" />
</div>
<div class="b-field" ng-if="$.currentField.Settings.ResizeLargeImage">
    <label class="form-label">Resize Height(Auto Height = 0)</label>
    <input type="text" ng-model="$.currentField.Settings.LargeImageHeight" class="b-input form-control" placeholder="Height" />
</div>
<div ng-repeat="thumbnail in $.currentField.Settings.Thumbnails" style="padding:10px;margin-bottom:10px;border:solid 1px #ccc;">
    <div class="b-field">
        <label class="form-label">
            Thumbnail Name
            <span class="pull-right cursor-pointer" ng-click="$.currentField.Settings.Thumbnails.splice($index,1)">
                <i class="codicon codicon-trash"></i>
            </span>
        </label>
        <input type="text" ng-model="thumbnail.Name" class="b-input form-control" />
    </div>
    <div class="b-field">
        <label class="form-label">Width X Height (px)</label>
        <div class="col-xs-6 p-0">
            <input type="text" ng-model="thumbnail.Width" class="b-input form-control" />
        </div>
        <div class="col-xs-6 p-0">
            <input type="text" ng-model="thumbnail.Height" class="b-input form-control" />
        </div>
        <p class="pull-right m-t-5 small">Height 0 : auto</p>
        <div class="clearfix"></div>
    </div>
</div>
<div class="b-field" ng-init="$.currentField.Settings.Thumbnails=$.currentField.Settings.Thumbnails||[]">
    <button type="button" class="btn btn-primary" ng-click="$.currentField.Settings.Thumbnails.push({})">
        <i class="codicon codicon-plus"></i> Add Thumbnail
    </button>
</div>
<div class="b-field">
    <label class="form-label">Upload By</label>
    <select ng-model="$.currentField.Settings.UploadBy" class="b-input form-control" chosen required>
        <option value="angular">Angular</option>
        <option value="jquery">jquery</option>
        <option value="dnn">dnn</option>
    </select>
</div>