<div class="b-field">
    <label class="form-label">Placeholder</label>
    <input type="text" ng-model="$.currentField.Settings.Placeholder" class="b-input form-control" />
</div>
<div class="b-field">
    <label class="form-label">Dropdown Css Class</label>
    <input type="text" ng-model="$.currentField.Settings.DropdownCssClass" class="b-input form-control" />
</div>
<div class="b-field">
    <label class="form-label">Text Field</label>
    <input type="text" ng-model="$.currentField.Settings.DataSource.TextField" class="b-input form-control" />
</div>
<div class="b-field">
    <label class="form-label">Value Field</label>
    <input type="text" ng-model="$.currentField.Settings.DataSource.ValueField" class="b-input form-control" />
</div>
<div class="b-field">
    <label class="form-label">Show None/All</label>
    <label class="b-switch d-block">
        <input type="checkbox" hidden="hidden" ng-model="$.currentField.Settings.ShowAll" />
        <div class="slider"></div>
    </label>
</div>
<div class="b-field" ng-if="currentField.Settings.ShowAll">
    <label class="form-label">All Text</label>
    <input type="text" ng-model="$.currentField.Settings.AllText" class="b-input form-control"
        placeholder="All or none text" />
</div>