<div class="b-field">
    <label class="form-label">Page Name</label>
    <input type="text" ng-model="$.currentField.Settings.PageName" class="b-input form-control" />
</div>
<div class="b-field">
    <label class="form-label">Page Params</label>
    <input type="text" ng-model="$.currentField.Settings.PageParams" class="b-input form-control" />
</div>
<div class="b-field">
    <label class="form-label">Link Css Class</label>
    <input type="text" ng-model="$.currentField.Settings.LinkCssClass" class="b-input form-control" />
</div>
<div class="b-field">
    <label class="form-label">Link Text</label>
    <input type="text" ng-model="$.currentField.Settings.LinkText" class="b-input form-control" />
</div>
<div class="b-field">
    <label class="form-label">Icon Position</label>
    <input type="text" ng-model="$.currentField.Settings.IconPosition" class="b-input form-control" />
</div>
<div class="b-field">
    <label class="form-label">Font Icon</label>
    <input type="text" ng-model="$.currentField.Settings.FontIcon" class="b-input form-control" />
</div>