<!------------------------------------>
<!-- Tabs Tabs -->
<!------------------------------------>
<div class="b-table theme-gray mb-4">
    <div class="table-body pt-4">
        <div class="d-flex tabs-name">
            <div class="col-2">Tab Name</div>
            <div class="col-3">Tab Title</div>
            <div class="col-4">Condition(s)</div>
            <div class="col-2">
                <button type="button" class="b-clean text-light" disabled>
                    <i class="codicon codicon-arrow-up d-inline-block me-1"></i>
                </button>
                <button type="button" class="b-clean text-light" disabled>
                    <i class="codicon codicon-arrow-down d-inline-block"></i>
                </button>
            </div>
            <div class="col-1">
                <i class="codicon codicon-ellipsis"></i>
            </div>
        </div>
        <div class="d-flex table-row" ng-repeat="tab in $.field.Settings.Tabs | orderBy:'ViewOrder'"
            ng-style="{'order':($index+1)}">
            <div class="col-2 my-auto"> {{tab.Name}} </div>
            <div class="col-3 my-auto">
                <span class="text"> {{tab.Title}} </span>
                <span class="subtext"> {{tab.Description}} </span>
            </div>
            <div class="col-4 my-auto">
                <span class="subtext" ng-if="tab.ShowConditions.length">
                    {{tab.ShowConditions.length}} Show Condition(s)
                </span>
                <span class="subtext" ng-if="tab.EnableConditions.length">
                    {{tab.EnableConditions.length}} Enable Condition(s)
                </span>
            </div>
            <div class="col-2 my-auto">
                <button type="button" class="b-clean text-light" ng-disabled="$index==0">
                    <i class="codicon codicon-arrow-up d-inline-block me-1"
                        ng-click="$.onTabSwapClick($index,$index-1)"></i>
                </button>
                <button type="button" class="b-clean text-light" ng-disabled="$index==$.tabs.length-1">
                    <i class="codicon codicon-arrow-down d-inline-block"
                        ng-click="$.onTabSwapClick($index,$index+1)"></i>
                </button>
            </div>
            <div class=" col-1">
                <div class="b-multi-btns">
                    <button type="button" class="p-0" ng-click="$.onEditTabClick(tab)" b-custom-tooltip
                        data-bs-placement="bottom" title="Edit Tab">
                        <i class="codicon codicon-edit"></i>
                    </button>
                    <button type="button" ng-click="$.field.Settings.Tabs.splice($index,1)" b-custom-tooltip
                        data-bs-placement="bottom" title="Delete Tab">
                        <i class="codicon codicon-trash"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="table-footer">
        <button type="button" class="b-btn btn-action" ng-click="$.onAddTabClick()">
            <i class="codicon codicon-plus"></i>
            Add Tab
        </button>
    </div>
</div>

<!------------------------------------>
<!-- Tabs Tab Panes -->
<!------------------------------------>
<div ng-repeat="tab in $.field.Settings.Tabs | orderBy:'ViewOrder'" data-pane="TabsTab_{{tab.Name}}"
    data-pane-title="{{tab.Name}} Pane" data-parent-id="{{$.field.FieldID}}"></div>

<div ng-include="$.editTabWidget"></div>