<div class="b-field mb-3">
    <button type="button" class="b-btn btn-action">
        <i class="{{$.field.Settings.FontIcon}}"></i>
        {{$.field.Settings.ButtonText}}
    </button>
</div>
<div class="b-field mb-3">
    <label class="form-label">Loading Conditions</label>
    <div class="b-input form-control position-relative" role="button" ng-click="$.onShowLoadingConditionsClick()">
        <span ng-if="!$.field.Settings.LoadingConditions.length">No Loading Conditions</span>
        <span ng-if="$.field.Settings.LoadingConditions.length">
            {{$.field.Settings.LoadingConditions.length}} Loading Conditions</span>
        <i class="codicon codicon-ellipsis position-absolute top-0 end-0 mt-2 me-2"></i>
    </div>
</div>
<div class="b-field">
    <button type="button" class="b-btn btn-action" ng-click="$.onAddFieldActionClick()">
        <i class="codicon codicon-plus"></i>
        Add Action
    </button>
</div>
<!------------------------------------>
<!-- Column Show Conditions Modal-->
<!------------------------------------>
<div id="wnButtonLoadingConditions{{$.field.FieldName}}" ng-if="$.field.Settings.LoadingConditions" b-custom-modal class="modal fade b-modal-dark" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Button Loading Conditions
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <b-condition-list ng-model="$.field.Settings.LoadingConditions" data-source="['fields','form','variables','actionParams']" data-variables="variables" data-fields="fields" data-action-params="$.action.Params"></b-condition-list>
            </div>
            <div class="modal-footer">
                <button type="button" class="b-btn btn-submit me-2" data-bs-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>